/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Saul Pierotti
Mail: saul@ebi.ac.uk
----------------------------------------------------------------------------------------
*/

manifest {
    author = "Saul Pierotti"

    // raise a warning if using a different nextflow version than the one used in the
    // development of the pipeline
    nextflowVersion = "24.04.4"
}

// short name of the project, used also for prefixing the results and cache
manifest.name = "ukb_smoke_lung_cancer_copd_gxe"

// Configuration via labels
process {
    //withLabel: "plink2" {
    //    container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
    //    'https://depot.galaxyproject.org/singularity/plink2:2.00a3.7--h4ac6f70_4' :
    //    'biocontainers/plink2:2.00a3.7--h4ac6f70_4' }"
    //}
    //withLabel: "pgenlibr" {
    //    container 'saulpierotti-ebi/pgenlibr@sha256:0a606298c94eae8d5f6baa76aa1234fa5e7072513615d092f169029eacee5b60'
    //}
    
    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }
    errorStrategy  = "retry"
    maxRetries = 3
}

params {
    outdir = null
    idtrackerai_params = null
    cab_coords = null
    input_tracking = null
    input_hmm = null
    hmm_iter = null
    time_step = null
    n_states = null
    hmm_cv_splits = null
    split_vids = null
}